/* NEWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW */
.bmenu {
	padding-top:2% !important;
	text-align: center;
}
.bmenu > li {
	display: inline;
}

.bmenu li a{
    font-family: 'Quicksand';
	white-space: nowrap;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(71,80,23,0.3);
    color: white;
	padding-left:1%;
	margin-left: 1%;
	margin-right: 1%;
	font-size: 120%;
	padding-right: 1%;
    background: rgba(0, 0, 0, 0.8);
	border-radius: 5%;

    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a#current  {
	color: black !important;
	background: white !important;
	font-weight: bold;
}

.bmenu:hover li a{
    text-shadow: 0px 0px 10px #fff;
    color: transparent;
}
.bmenu li a:hover{
    background: transparent;
    text-shadow: 1px 1px 10px rgba(71,80,23,0.6);
    color: blue;
}
/* Form */

body {
	background:url('images/emailbg.jpg') no-repeat center center fixed;
	height: 100%;
	width: 100%;
	font-family:'Quicksand';
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media all and (orientation:portrait) {  
    /* Styles for Portrait screen */  
	
	html {
	background:url('images/bg.jpg') no-repeat center center fixed !important;
	height: 100% !important;
	width: 100%;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100% !important; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  }
}

h1 {
	font-weight: bold;
}

p {
	font-size: 120%;
	margin-bottom: 15px;
}

#page-wrap {
	width: 670px;
	background: rgba(242, 242, 243, 0.8);
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 425px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	padding-right: 5%;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 14%;
	border-radius: 10%;
	text-align: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 110%;
}