
body {
	background:url('images/bg.jpg') no-repeat center center fixed;
	height: 100%;
	width: 100%;
	font-family:'Lato';
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#mask {
  position: relative;
  height: 100%;
  background-color: rgba(0,10,20,.6);
}

h1 {
	padding-top: 8%;
	font-size: 500%;
}


/* Menu CSS*/
ul.sdt_menu{
	list-style: none;
	font-family:'Lato';
	font-size:105%;
	text-align: center;
	margin-top: 6%;
	position: absolute;
	margin-left: 22.0%;
	margin-right: 30px;
}
/* Landscape phones and smaller */
@media (max-width: 1110px) {
	ul.sdt_menu{
	margin-left: 147px;
	}
}

@media (max-width: 1024px) {
	ul.sdt_menu{
	margin-left: 123px;
}
}

@media (max-width: 815px) {
	ul.sdt_menu{
	margin-left: 100px;
}
}
@media (max-width: 625px) {
	ul.sdt_menu{
	margin-left: 40px;
}
}

ul.sdt_menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:85px;
	z-index:12;
	background: black;
	border-style: solid white;
    border-width: 1px;
	opacity: .9;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
span.reference{
	position:fixed;
	left:10px;
	bottom:10px;
	font-size:12px;
}
span.reference a{
	color:#aaa;
	text-transform:uppercase;
	text-decoration:none;
	text-shadow:1px 1px 1px #000;
	margin-right:30px;
}
span.reference a:hover{
	color:#ddd;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position:absolute;
	top:25px;
	left:0px;
	width:170px;
	height:60px;
	z-index:15;
}
ul.sdt_menu li span.sdt_active{
	position:absolute;
	background:#111;
	top:85px;
	width:170px;
	height:0px;
	left:0px;
	z-index:14;
	-moz-box-shadow:0px 0px 4px #000 inset;
	-webkit-box-shadow:0px 0px 4px #000 inset;
	box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:150%;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	color:#0B75AF;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:98%;
	letter-spacing:1px;
	font-weight: bold;
}
ul.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:170px;
	height:170px;
	top:85px;
	left:0px;
	display:none;
	background:#000;
	font-weight: bold;
}
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}

@media all and (orientation:portrait) {  
    /* Styles for Portrait screen */  
	ul.sdt_menu {
	margin-left:33%;
	margin-top: 12%;
	}	  
	
	h1 {
	font-size: 700%;
	padding-top: 38%;
	}
	
	html {
	background:url('images/bg.jpg') no-repeat center center fixed !important;
	height: 100% !important;
	width: 100%;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100% !important; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  }
}