/* Globals */

html {
    overflow-x: hidden;
}

body {
    font-size: 50.5%;
}

p,
li,
h3 {
    font-family: 'Raleway';
}

h3 {
    font-size: 4.1em;
    letter-spacing: .074em;
    font-weight: bold;
}

li {
    list-style-type: none;
}

.fixed {
    -webkit-transform: translateZ(0);
}
/* ************ End Globals *********** */
/* Navbar */

.li-nav {
    font-family: 'Raleway' !important;
    font-size: .85em !important;
    font-weight: bold !important;
}

.top-bar .toggle-topbar.menu-icon a {
    padding-top: .75em;
    color: rgba(255, 255, 255, 0.29) !important;
}

.home {
    padding-left: 1em;
    padding-top: .23em;
    color: rgba(255, 255, 255, 0.29) !important;
}

.top-bar-section ul li>a:hover {
    color: #8181ef !important;
}

a.active {
    color: #8181ef !important;
}

.top-bar.expanded {
    background: #333;
}

.top-bar-section ul {
    text-align: center;
}

.fa-bars {
    font-size: 1.8em !important;
}
/* ********** End Navbar ********* */
/* Header */

header h1,
h2 {
    font-family: 'Poiret One';
    font-weight: bold;
}

#top {
    background: url('img/header-min.jpg') no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header h1 {
    font-size: 11em;
    margin-top: 17.6vh;
}

header h2 {
    font-size: 3.405em;
    padding-bottom: 9vh;
}

header .fa {
    font-size: 5.4em;
}

.code {
    font-family: courier;
    font-size: .56em;
}

.contact-icon {
    padding-left: 1em;
}

.fixed {
    transform: translateZ(0);
}

.name a {
    font-family: 'Poiret One';
}
/* Font Awesome */

.fa {
    color: rgba(0, 0, 0, 0.81);
}

.fa-envelope:hover {
    transition: .6s;
    color: rgba(255, 255, 255, 0.79);
}

.fa-envelope {
    transition: .6s;
}

.fa-github-square:hover {
    transition: .6s;
    color: #800080;
}

.fa-github-square {
    transition: .6s;
}

.fa-linkedin-square {
    transition: .6s;
}

.fa-linkedin-square:hover {
    transition: .6s;
    color: #0077B5;
}

.fa-twitter-square {
    transition: .6s;
}

.fa-twitter-square:hover {
    color: #55ACEE;
}
/* ********** End Header ********** */
/* Section Styles */

section#bg-exp {
    background: url('img/light_alu.png');
    height: auto;
}

section#about {
    background: url('img/mooning.png');
    height: auto;
}

section#contact {
    background: url('img/ticks.png');
    height: auto;
}

section#bg-exp h2,
section#about h2 {
    font-size: 8.5em;
    padding-bottom: 1%;
    letter-spacing: .08em
}

section#bg-exp p,
section#about p,
section#contact p {
    font-size: 2.1em;
}
/* ********** End Section Styles ********** */
/* Experience Section */

.personal-statement p {
    font-size: 2em;
}

#bg-exp li {
    font-size: 1.1em;
    letter-spacing: .05em
}

.skills ul {
    list-style-type: none;
    padding-right: 1em;
}

.desc {
    font-size: 2em;
    font-family: 'Raleway';
    margin-top: 1.1em;
    margin-bottom: 2em;
}

.thumb {
    line-height: 0;
    display: inline-block;
    border: solid 4px #fff;
    max-width: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}
/* ********** End Experience Section ********** */
/* About Section */

.my-pic img {
    border-radius: 100%;
    margin-bottom: 3em;
}

.about-p p {
    text-align: left;
}
/* ********** End About Section ********** */
/* Contact Section */

section#contact h2 {
    font-size: 8.5em;
    margin-bottom: .5em;
    letter-spacing: .08em;
}

.email-p {
    padding-right: 6vw;
    word-spacing: -1px
}

.email {
    font-size: 1.5em;
    color: black;
}
/* ********** End Contact Section ********** */
/* Footer */

footer p {
    font-family: Helvetica;
    font-size: 1.9em;
    word-spacing: .022em;
}
/* ********** End Footer ********** */
/* Media Queries */

@media only screen and (max-width: 40em) {
    header h1 {
        font-size: 7em;
        margin-top: 22vh;
    }
    header h2 {
        font-size: 3em;
        padding-bottom: 9vh;
    }
    section#bg-exp h2,
    section#about h2,
    section#contact h2 {
        font-size: 6.5em;
        letter-spacing: 0.06em
    }
    h3 {
        font-size: 3.8em;
    }
    .personal-statement p {
        font-size: 1.77em;
    }
    header .fa {
        font-size: 5em !important;
        padding-left: .1em
    }
    .email-p {
        padding-right: 2em
    }
}

@media only screen and (min-width: 64.063em) {
    .email-p {
        padding-left: 3vw;
    }
}
/* ********** End Media Queries ********** */
